#github{
    -fx-background-image: url('../images/icons8-github-100.png');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#google{
    -fx-background-image: url('../images/icons8-google-100.png');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#shopify{
    -fx-background-image: url('../images/icons8-shopify-100.png');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#discord{
    -fx-background-image: url('../images/icons8-discord-100.png');
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}