#box {
    -fx-background-color: black;
}

#github {
    -fx-background-image: url('/images/hc-github.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#google {
    -fx-background-image: url('/images/hc-google.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#shopify {
    -fx-background-image: url('/images/hc-shopify.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#discord {
    -fx-background-image: url('/images/hc-discord.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
}

.button {
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
}

.button:hover {
    -fx-cursor: hand;
}

.text-field {
    -fx-text-fill: white;
}