#box{
    -fx-background-color: black;
}

#github{
    -fx-background-image: url('/images/hc-github.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#google{
    -fx-background-image: url('/images/hc-google.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#shopify{
    -fx-background-image: url('/images/hc-shopify.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#discord{
    -fx-background-image: url('/images/hc-discord.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
}

.button{
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #ff7600;
    -fx-border-color: #ff7600;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-text-fill: #00ffff;
    -fx-border-color: #00ffff;
    -fx-background-color: transparent;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #ff7600;
    -fx-text-fill: white;

}

.text-field:focused{
    -fx-border-color: #00ffff;
}