#back{
    -fx-background-image: url('/images/back_darkmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#logout{
    -fx-background-image: url('/images/logout_darkmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.root {
    -fx-background-color: #1f2123;
    -fx-font-family: "Montserrat";
}

#highContrastModeButton {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

#darkModeButton {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

#lightModeButton {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

#deleteAccount {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

#exportData {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

.label {
    -fx-text-fill: #b7b6b4;
    -fx-font-family: "Montserrat";
}

#label {
    -fx-font-family: "Montserrat SemiBold";
}