#back {
    -fx-background-image: url('/images/back_darkmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#logout {
    -fx-background-image: url('/images/logout_darkmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.root {
    -fx-background-color: #1f2123;
    -fx-font-family: "Montserrat";
}

.toggle-button {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

.toggle-button:hover {
    -fx-background-color: #3e4144;
}

.toggle-button:pressed {
    -fx-background-color: black;
}

.toggle-button:selected {
    -fx-border-color: gray;
    -fx-background-color: linear-gradient(#1d1d1d, #292929);
}

.button {
    -fx-text-fill: #d3d1cf;
    -fx-background-color: #222426;
}

.button:hover {
    -fx-background-color: #3e4144;
}

.button:pressed {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: #b7b6b4;
    -fx-font-family: "Montserrat";
}

#label {
    -fx-font-family: "Montserrat SemiBold";
}