#box{
    -fx-background-color: black;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
}

.button{
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
}

.button:hover {
    -fx-cursor: hand;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #ff7600;
    -fx-text-fill: white;

}

.text-field:focused{
    -fx-border-color: #00ffff;
}