#background {
    -fx-background-color: #000000;
}

#Title {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 25;
    -fx-text-fill: White;
}

.text-field {
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 14;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #ffffff;
    -fx-font-weight: 600;
}

.button {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: "Montserrat";
}

.button:hover {
    -fx-cursor: hand;
}

