#box {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
}

.button {
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
}

.button:hover {
    -fx-cursor: hand;
}

.text-field {
    -fx-text-fill: white;
}