#background {
    -fx-background-color: #222426;
}

#Title {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: #d6d3d3;
}

.text-field {
    -fx-text-fill: white;
}

.text-field:focused {
}

.text-field:hover {
}

.label {
    -fx-font-family: "Montserrat";
    -fx-text-fill: #c1c0be;
}

.button {
    -fx-font-weight: bold;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #babcc0;
}

.button:hover{
    -fx-cursor: hand;
}

