.root {
    -fx-background-color: #eeeeee;
}

.label {
    -fx-text-fill: #232323;
    -fx-font-family: "Montserrat";
}

.button {
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
}

.button:hover {
    -fx-cursor: hand;
}

#Title {
    -fx-font-weight: 200;
    -fx-font-size: 20;
    -fx-font-family: "Montserrat SemiBold";
}