#pane{
    -fx-background-color: black;
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #ff7600;
    -fx-border-color: #ff7600;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-text-fill: #00ffff;
    -fx-border-color: #00ffff;
    -fx-background-color: transparent;
}