#title {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: black;
}

#platformName {
    -fx-font-size: 15;
    -fx-font-family: "Montserrat";
}

#platformName {
    -fx-font-size: 15;
}

#default {
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

.button{
    -fx-font-family: "Montserrat";
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
}

.button:hover{
    -fx-font-family: "Montserrat";
    -fx-background-color: #eaeaea;
    -fx-text-fill: #235480;
}

#logout{
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url('/images/logout_lightmode.png');
}

#settings{
    -fx-background-image: url('/images/settings_lightmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#back{
    -fx-background-image: url('/images/back_lightmode.png');
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.list-view{
    -fx-background-color: #ffffff;
    -fx-font-family: "Montserrat";
}

.list-cell .text {
    -fx-fill: black;
}

.list-cell:hover .text{
    -fx-fill: white;
}

.list-cell:selected .text{
    -fx-fill: white;
}

.list-cell:hover{
    -fx-background-color: #235480;
}

.list-cell:selected{
    -fx-background-color: #235480;
}






