
#background{
    -fx-background-color: black;
}

#title{
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 25;
    -fx-text-fill: White;
}

#usernameTitle{
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 15;
    -fx-text-fill: #f3f3f3;
}

#codesTitle{
    -fx-font-size: 20;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #dcdcdc;
    -fx-font-weight: 600;
}


#placeholderText{
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 18;
    -fx-text-fill: #dadada;
}

#CodeListView{
    -fx-background-color: linear-gradient(#424242, black);
}

/*#CodeListView.list-cell:even{*/
/*    -fx-background-color: #ff872e;*/
/*}*/
/*#CodeListView.list-cell:odd{*/
/*    -fx-background-color: #a0eeee;*/
/*}*/


.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #ff7600;
    -fx-text-fill: white;
}
.text-field:focused{
    -fx-border-color: #00ffff;
    -fx-background-color: rgba(0, 255, 255, 0.09);
}
.text-field:hover{
    -fx-border-color: #00ffff;
}

.list-view {
    -fx-background-color: #2c2c2c;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}
.list-view:hover {
    -fx-border-color: #00ffff;
}

.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:horizontal .track {
    -fx-background-color: black;
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ff7100;
}

.list-view .scroll-bar:vertical .thumb:hover,
.list-view .scroll-bar:horizontal .thumb:hover {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #00ffff;
}

.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color : black;
}

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color : black;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color : #ff7100;
}

.list-view .scroll-bar:horizontal .increment-arrow:hover,
.list-view .scroll-bar:horizontal .decrement-arrow:hover {
    -fx-background-color : #00ffff;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
    -fx-background-color : #ff7100;
}

.list-view .scroll-bar:vertical .increment-arrow:hover,
.list-view .scroll-bar:vertical .decrement-arrow:hover {
    -fx-background-color : #00ffff;
}

.list-view .virtual-flow > .corner {
    -fx-background-color: black;
    -fx-background-insets: -1;
}

.list-cell:even{
    -fx-background-color: #ff7100;
}

.list-cell:odd{
    -fx-background-color: #00ffff;
}

.list-cell:selected{
    -fx-background-color: blue;
}
.list-cell:hover{
    -fx-background-color: blue;
}

/*.list-view .list-cell:even{*/
/*    -fx-background-color: #ff872e;*/
/*}*/
/*.list-view .list-cell:odd{*/
/*    -fx-background-color: #a0eeee;*/
/*}*/

/*.list-cell:filled:even:hover, .list-cell:filled:even:selected{*/
/*    -fx-background-color: #ff7600;*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-cell:filled:odd:hover, .list-cell:filled:odd:selected {*/
/*    -fx-background-color: #00ffff;*/
/*    -fx-text-fill: black;*/
/*}*/
.list-cell .button{
    -fx-font-size: 12;
    -fx-font-family: "Montserrat";
    -fx-text-fill: White;
    -fx-font-weight: bold;
    -fx-border-color: White;
    -fx-background-color: Black;
    -fx-border-radius: 4;

}

.button{
    -fx-font-size: 14;
    -fx-font-weight: 500;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #ff7600;
    -fx-border-color: #ff7600;
    -fx-background-color: transparent;
}
.button:hover{
    -fx-text-fill: #00ffff;
    -fx-border-color: #00ffff;
    -fx-background-color: transparent;
}
/*.list-cell.button:hover{*/
/*    -fx-text-fill: #00ffff;*/
/*    -fx-border-color: #00ffff;*/
/*    -fx-background-color: transparent;*/
/*}*/



#logout{
    -fx-background-image: url('../images/hc-logout.png');
    -fx-border-color: transparent;
    -fx-background-size: 35px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#logout:hover{
    -fx-background-image: url('../images/hc-logout-onselect.png');
    -fx-background-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#settings{
    -fx-background-image: url('../images/hc-settings.png');
    -fx-background-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#settings:hover{
    -fx-background-image: url('../images/hc-settings-onselect.png');
    -fx-background-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#back{
    -fx-background-image: url('../images/hc-back.png');
    -fx-background-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#back:hover{
    -fx-background-image: url('../images/hc-back-onselect.png');
    -fx-background-size: 35px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}